<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>익명의 작가들</title>
    <!-- Favicon-->
    <!--<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />-->
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/index.css}" rel="stylesheet" />
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light"><img id="img-aw" th:src="@{/images/aw.png}" /> 익명의 작가들</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">최근 작품</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">초안</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">베스트작품</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">완결</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">출간 정보</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">아직 오지 않은 소설가에게</a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <div class="container-fluid">
                <button class="btn btn-primary" id="sidebarToggle">몰입하기</button>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                        <li class="nav-item active"><a class="nav-link" href="#!">홈</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">내정보</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">작품활동</a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#!">글쓰기</a>
                                <a class="dropdown-item" href="#!">내가 참여한 글</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#!">찜한 작품</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
            <h1 class="mt-4">아직 오지 않은 소설가에게..</h1>
            <div> 익명의 작가들에 오신 걸 환영합니다!</div>
            <div> 당신은 책을 즐겨 읽나요? </div>
            <div>작가 <strong>Toni Morrison</strong>은 이런 말을 남겼습니다.</div>
            <p>"당신이 정말로 읽고 싶은 책이 있는데, 아직 그런 책이 없다면 당신이 <strong>직접</strong> 써야 한다."</p>
            <div>
                좋아하는 책의 한 구절을 적어도 좋고, 당신이 왜 글쓰기를 좋아하는지 그 이유를 적어도 좋아요.</div>
            <p>당신의 표현으로 아직 오지 않은 소설가들에게 하고 싶은 말을 적어보세요!</p>

            <div><strong>한가지 더!</strong></div>
            <div>우리는 특별한 규칙을 만들었어요.</div>
            <div>바로 <strong>글자 수 제한</strong>입니다.</div>
            <div>모든 글에는 글의 서론을 열어준 글쓴이가 정해둔 제한이 있어요.</div>
                그에 맞게 표현을 함축하거나 늘려서 글을 작성해주세요!
        </div>
        <p style="padding:100px;"></p>
        <form action="#" method="get" style="width:300px;height:100px;">
            <textarea id="txt-write" name="txt-write" autofocus maxlength="500"></textarea>
            <input id="btn-write" type="submit" value="완료">
        </form>
    </div>

</div>
<!-- Bootstrap core JS-->
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js}"></script>
<!-- Core theme JS-->
<script th:src="@{/js/index.js}"></script>
</body>
</html>
